<div class="likes_part" data-like-container data-is-liked=<%= post.liked_by?(current_user) %>>
  <span class="posts_detail_part_time"><%= post.created_at.to_s(:datetime_jp) %></span>
  <% # JSで表示非表示を制御するので、先にどちらも非表示で表示しておく %>
  <%= link_to post_likes_path(post), class: 'like_btn', method: :post, remote: true, data: { "like": true } do %>
    <i class="fas fa-heart" style="color: #a3a3a3;"></i>
    <span class="like_count" data-count><%= post.likes.count %></span>
  <% end %>
  <%= link_to like_path(post), class: 'like_btn', method: :delete, remote: true, data: { "cancel-like": true } do %>
    <i class="fas fa-heart heart"></i>
    <span class="like_count" data-count><%= post.likes.count %></span>
  <% end %>
</div>
